*{

        /*Resentando as configuraçoẽs*/
        margin:  0;
        padding: 0;
        font-family: 'open_sanslight';
        box-sizing:  border-box;
        -mor-box-sizing:  border- box;
        -webkit-box-sizing:border-box;
        }

        /*Reset basico das midias*/

        object,
        embed,
        video,
        iframe,
        inframe['style'] {max -width;100%;  heigth:auto;}
        img  {max-width:100%; vertical-align: middle;}
        ul  {list-style:nome  }

        *Reset p Formuláŕios em todos Dispositivos*/
        fieldset{border: 0;}
        input,
        select,
        textarea{padding: 10px; width  : 100%;}
        input.btn{width : auto;  cursos: pointer;}

        /* vai ser box de controle*/
        .contrainer {clear: both; width:100%;  backgground-color:#e9ecf0;  }
        .clear  {clear: both; }
        .fontzero  { font- size:0;  }
        
         É uma Seção de Titulo */
        .section_title{fon-size:  1em;  text-align:  center; color: #333;  }
